.signup-button {
  color: white;
  background-color: #83aaff;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  align-self: center;
}

.signup-button:disabled {
  opacity: 0.5;
}

.signup-button:disabled:hover {
  cursor: default;
}

.signup-button:hover {
  cursor: pointer;
}

.signup-error {
  color: red;
  text-align: left;
  margin: 0.25rem 0 0.75rem 0;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup-form-main {
  width: 30rem;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-h1 {
  color: #83aaff;
  width: 100%;
  margin: 0;
}

.signup-input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  margin-top: 0.1rem;
  border: none;
  outline: none;
}

.signup-label {
  text-align: left;
  color: #6a6a6a;
  font-size: 0.9rem;
  display: block;
  margin-top: -1px;
  padding: 0.5rem;
  border: 1px #222222 solid;
}

.signup-label:first-of-type {
  margin-top: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.signup-label:focus-within {
  outline: 1px solid;
}

.signup-label:last-of-type {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
