.create-spot-button {
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
}

.create-spot-button,
.create-spot-button-no-spots,
.delete-spot-button .modal-button,
.update-spot-button {
  color: white;
  background-color: #83aaff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
}

.create-spot-button-no-spots {
  padding: 0.5rem 0.75rem;
}

.delete-spot-button {
  padding: 0;
  border: none;
}

.delete-spot-button .modal-button,
.update-spot-button {
  width: 4.5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.update-spot-button {
  color: white;
  display: inline-block;
  text-align: center;
  font-family: arial;
  font-size: 0.8rem;
  text-decoration: none;
}

[hidden] {
  display: none;
}

.manage-spots-page-h1 {
  margin: 1rem 0 0.5rem 0;
}

.manage-spots-page-spot-card-div {
  margin-top: 1rem;
  border-radius: 0.75rem;
}

.manage-spots-page-spot-card-div:hover {
  cursor: pointer;
}

.manage-spots-page-spot-card-fa-star {
  font-size: 0.75rem;
  vertical-align: -0.05rem;
}

.manage-spots-page-spot-card-line-1,
.manage-spots-pate-spot-card-line-3 {
  display: flex;
}

.manage-spots-page-spot-card-line-1 {
  justify-content: space-between;
}

.manage-spots-page-spot-card-line-3 {
  margin-top: 1rem;
}

.manage-spots-page-spot-card-link {
  text-decoration: none;
}

.manage-spots-page-spot-card-location {
  font-weight: bold;
}

.manage-spots-page-spot-card-preview-image {
  display: block;
  width: 250px;
  height: 250px;
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  object-fit: cover;
  overflow: hidden;
}

.manage-spots-page-spots {
  display: flex;
  flex-wrap: wrap;
  max-width: 65.5rem;
  gap: 1rem;
}

.manage-spots-page-tagline {
  color: #6a6a6a;
  font-size: 1.5rem;
  text-align: center;
}

.manage-spots-page-tagline-text {
  margin: 1rem 0;
}

.update-spot-button {
  margin-right: 0.5rem;
}
