button {
  height: 1.5rem;
  width: 50%;
  margin-top: 1rem;
  align-self: center;
}

.error {
  color: red;
  text-align: center;
  margin: 0.25rem 0 0 0;
}

form {
  text-align: right;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 0;
}

label {
  display: block;
  margin-top: 1rem;
}

main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
